<!DOCTYPE html>
<html lang="es">

<head>
    <title>Daniel Vargas</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/static/css/blog-home.css" rel="stylesheet">
</head>
<body>
<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
        <!--
        {% if user.is_authenticated %}
            <p class="navbar-brand">Hola, {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
            {% else %}
                <a class="navbar-brad" href="{% url 'login' %}">log</a>
        {% endif %}-->
        <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/blog/">Inicio
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">Ver Curriculum</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'post_new' %}" ></span>Añadir post</a>
                    </li>
                {% endif %}   
            </ul>
        </div>
    </div>
</nav>

  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Blog de Daniel
        <!--  <small>Secondary Text</small>-->
            </h1>

        <!-- Blog Post -->
            {% block content %}
            {% endblock %}
        </div>        

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
