<!DOCTYPE html>
<html>
    <head>
        <title>El blog de Daniel</title>
    </head>
    <body>
        <div>
            <h1><a href="/">El blog de Daniel</a></h1>
        </div>

        <div>
            <p>published: 14.12.2018, 12:14</p>
            <h2><a href="">Primer post</a></h2>
            <p>primer post desde html.</p>
        </div>

        <div>
            <p>published: 14.12.2018, 12:14</p>
            <h2><a href="">segundo post</a></h2>
            <p>Idem</p>
        </div>
    </body>
</html>