<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Daniel Vargas</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/resume.css' %}">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
  <link href="/static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/static/css/resume.css" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Daniel Vargas</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/img/profile.png" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">Sobre mi</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experiencia profesional</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Mis hobbies</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Conocimientos en programación</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#interests">Repositorio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="/blog/">Mi blog</a>
        </li>        
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
      <div class="w-100">
        <h1 class="mb-0">Daniel
          <span class="text-primary">Vargas</span>
        </h1>
        <div class="subheading mb-5"> Córdoba, Córdoba. tlf: 662143448 ·
          <a href="mailto:danielavg87@hotmail.com">danielavg87@hotmail.com</a>
        </div>
        <p class="lead mb-5">Hola!, soy Daniel, de 31 años, hacer código ha cambiado mi mundo, porque me ha otorgado la capacidad de resolver problemas de manera más eficiente. También el hecho de poder crear páginas webs siendo autodidacta, me ha aportado una gran satisfacción personal, además de despertar en mí, todavía más, las ganas de mejorar mis habilidades.
        Dicho esto, tengo que aclarar que mi objetivo es convertirme en arquitecto de software, ya que ansío conocer cada linea de código, cada librería útil, cada herramienta que me permita mejorar los proyectos al máximo.</p>
        <div class="social-icons">
          <a href="https://linkedin.com/in/daniel-alejandro-vargas-gonzález-5a4b4a174">
            <i class="fab fa-linkedin-in"></i>
          </a>
          <a href="https://github.com/DanielVargasGonzalez?tab=repositories">
            <i class="fab fa-github"></i>
          </a>
<!--          <a href="#">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#">
            <i class="fab fa-facebook-f"></i>
          </a> -->
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex justify-content-center" id="experience">
      <div class="w-100">
        <h2 class="mb-5">Experiencia profesional</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">

            <p>Comencé mi vida laboral antes de lo que podía haber imaginado, porque tenía que costearme los estudios por mí mismo, valorando dicha experiencia, ya que me mostró el valor de las cosas. La primera vez que trabajé lo hice en una pizzería, aprendiendo la manera correcta de tratar al cliente, y cuando me hicieron encargado, aprendí la responsabilidad de dicho puesto.

            Al terminar los estudios, fuí técnico de análisis de aguas durante un corto periodo de tiempo, gracias a ello, aprendí a ser minucioso con lo que hago.

            Por aquel entonces, mi inquietud, me exigía más de mí mismo y opté por opositar para el ejército, aprobé, y comencé con mi nuevo trabajo, que me brindó innumerables experiencias, mediante las cuales aprendí a valorar el trabajo en equipo,la jerarquía y el esfuerzo ante todo, a aprender unos de otros y a no rendirse nunca.

            Todos estos valores y principios obtenidos, han hecho de mí, ser lo que soy, una persona que lucha por lo que quiere, y lo que siempre he querido es ser programador, ya que me entusiasma este mundo desde pequeño. Así que empecé a estudiar Python, y tuve una sensación tan satisfactoria por adentrarme en el mundo de la programación, que no he cesado en mi aprendizaje y estoy ansioso por aprender algo nuevo cada día.</p>
          </div>

        </div>

      </div>

    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="education">
      <div class="w-100">
        <h2 class="mb-5">Mis hobbies</h2>

        <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
          <div class="resume-content">
            <p>Mi mayor hobby es el mundo de los videojuegos, mayormente los RPG o al menos que contengan algún tipo de trasfondo estratégico o rolero. El cine me entusiasma, sobretodo las películas de corte fantástico, y por supuesto, sin menospreciar una buena serie.</p>
          </div>
        </div>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="skills">
      <div class="w-100">
        <h2 class="mb-5">Conocimientos en Programación</h2>

        <div class="subheading mb-3">Lenguajes de programación &amp; herramientas</div>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <i class="fab fa-python"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-css3-alt"></i>
          </li>
          <li class="list-inline-item">
            <i class="fab fa-js-square"></i>
          </li>
          <li class="list-inline-item">
            <h3>Django</h3>
          </li>
          <li class="list-inline-item">
            <h3>Jquery</h3>
          </li>       
          <li class="list-inline-item">
            <h3>Highcharts</h3>
          </li>   
          <li class="list-inline-item">
            <h3>CKeditor</h3>
          </li>
        </ul>

        <div class="subheading mb-3">actualmente aprendiendo:</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            MongoDB</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Flask</li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Ajax</li>
          <li>
        </ul>
      </div>
    </section>

    <hr class="m-0">

    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="interests">
      <div class="w-100">
        <h2 class="mb-5">Repositorio</h2>
        <ul class="list-inline dev-icons">
          <li class="list-inline-item">
            <h4>Click en el botón para ir a mi repositorio en github.</h4>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/DanielVargasGonzalez?tab=repositories">        
              <i class="fab fa-github-alt"></i>
          </li>
        </ul>
      </div>
    </section>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="/static/vendor/jquery/jquery.min.js"></script>
  <script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/static/js/resume.min.js"></script>

</body>

</html>
